/* layout_02.css*/

/* reset.css*/
html, body {margin: 0;}
h1,h2,h3,h4,h5,h6 {margin: 0; padding: 0;}
ul,ol,li {margin: 0; padding: 0; list-style: none;}
a {text-decoration: none; color: inherit;}
.clearfix::after,
.clearfix:after{
	content: " "; display: block; width: 650px; height: 0; clear: both;
}  
#headBox {width: 800px; height: auto; background-color: #ddf; margin: 50px auto; padding: 25px; box-sizing: border-box;}
#headBox > div {width: 250px; height: 300px; float: left; padding: 25px; box-sizing: border-box;}
  .box1 {background-color: #af0;}
    .smallBox1 {width: 200px; height: 250px; background-color: #fff;}
  .box2 {background-color: #f0a;}
  	.smallBox2 {width: 200px; height: 250px; background-color: #fff;}
  .box3 {background-color: #0fa;}
    .smallBox3 {width: 200px; height: 250px; background-color: #fff;}

    /* ----------------------------------------------------------- */

.margin {width: 800px; height: auto; margin: auto; padding: 1rem; 
	box-sizing: border-box; background-color: #ccc;}
.box > ul {width: 100%; height: 500px; background-color: #fff;}
.box > ul > li { list-style: none; width: 100px; height: 100px; background-color: #777; 
	float: left; color: #fff; font-weight: bold; line-height: 100px; text-align: center;}
.box > ul > li:nth-child(3n-1) {background-color: #57a;}
.box > ul > li:nth-child(3n-2) {background-color: #a75;}

/* .margin li:nth-child(3){margin: 10px 100px 50px;} */
.margin li:nth-child(4){margin: 10px 100px 50px 30px;}

/* ---------------------------------------------------------------- */
/* 단위 (unit): 16px == 12pt == 100% == 1em == 1rem  */
/* em */
.padding {width: 800px; height: auto; box-sizing: border-box; padding: 1rem; 
	background-color: #fac; margin: auto;}

/*.padding li:nth-child(1){padding: 30px;}
.padding li:nth-child(2){padding: 30px 5px;}
.padding li:nth-child(3){padding: 30px 100px 5px;}
.padding li:nth-child(4){padding: 30px 10px 100px 5px;}
*/

/* --------------------------------------------------------------- */
/* border: 테두리 , 외곽선
   *border-width: 0.3rem;     -선의 두께
   *border-style: solid(직선) | dotted(점선) | dashed(쇄선) |
   ridge(액자형) | double(이중선)    -선의 모양
   *border-color: rgba(225,225,100,0.5);      -선의 색상
*/
.border {width: 800px; height: auto; box-sizing: border-box; padding: 1rem; 
	background-color: #cca; margin: auto;}
.border li:nth-child(1) {border-width: 1rem; border-style: dotted; border-color: #ffa;}

.border li:nth-child(2) {border-width: 0.5rem; border-style: dashed; border-color: #af0}

.border li:nth-child(3) {border: 10px ridge#fff;}

.border li:nth-child(4) {border-left: 20px double#faa; border-top: 20px solid #aaf;
	border-bottom-width: 30px; border-bottom-style: double; border-bottom-color: #afa; }

.border li:nth-child(5) {border: 5px solid #fac; box-sizing: border-box;}

.border li:nth-child(6) {border: 10px solid #fa0; padding: 20px; box-sizing: border-box;}	

.border li:nth-child(7) {color: #555; margin-top: 70px; width: 0; height: 0; 
	border: 30px solid #333;
	background-color: rgba(0,0,0,0); 
	border-top-color: rgba(0,0,0,0); 
	border-bottom-color: rgba(0,0,0,0);
	border-right-color: rgba(0,0,0,0);}

/*-----------------------------------------------------------------------------*/

.outline {widows: 800px; height: auto; background-color: #ccc; margin: auto; padding: 1rem;
box-sizing: border-box;}

.outline li:nth-child(1) { outline-width: 10px; outline-style: dashed; outline-color: #aaf;}
.outline li:nth-child(2) {outline: 20px solid #ff0;}
.outline li:nth-child(3) {outline: 20px solid #af0; outline-top-width:none;}
.outline li:nth-child(4) {}
