/* layout01_test.css */

/*reset.css*/
html, body {margin: 0;}
h1,h2,h3,h4,h5,h6 {margin: 0; padding: 0;}
ul,ol,li {margin: 0; padding: 0; list-style: none;}
a {text-decoration: none; color: inherit;}
.clearfix::after,
.clearfix:after{
	content: " "; display: block; width: 650px; height: 0; clear: both;
}  

/*design*/
#wrap {
	width: 960px; height: auto; background-color: #fa0; margin: auto;
} 
#wrap > div {width: 100%;}
/* #headBox =====================================================================*/
#headBox {
	height: 250px; background-color: #faa; padding: 35px; box-sizing: border-box;}

  h1 {
  	width: 180px; height: 180px; background-color: #fff; float: left;
  }
  #navigation {
  	width: 650px; height: 180px; background-color: #fff; float: right;
  }
    .util_navi {
    	width: 500px; height: 60px; background-color: #29f; float: right;
    }
    .global_navi {
    	width: 650px; height: 100px; background-color: #29f; margin-top: 20px; float: right;
    }


/* .container ================================================================== */
.container {
	height: auto; background-color: #fe5; padding: 10px; box-sizing: border-box;
}
.container > div {width: 940px;}
  #adBanner {
  	height: 500px; background-color: #fff; margin-bottom: 10px
  }
  /* #contentBox =======================================================*/
  #contentBox {
  	height: 900px; background-color: #fff; margin-bottom: 10px; padding: 10px; box-sizing: border-box;
  }

    .snb {
    	width: 225px; height:880px; background-color: #000; float: left; margin-right: 10px;
    }
    .con_wrap {
    	width: 450px; height: 880px; float: left; margin-right: 10px;
    }
      .con_wrap > .mv {
      	height: 435px; background-color: #000; margin-bottom: 10px;
      }
      .con_wrap > .best {
      	height: 435px; background-color: #000;
      }
    #contentBox > .best{
    	width: 225px;  height: 880px; background-color: #000; float: right; 
    }

/* .contentBox============================================================================*/
  #contentList {
  	height: 400px; background-color: #fff; padding: 10px; box-sizing: border-box;
  }
  #contentList > div {height: 380px; float: left;}
    
    .box01 {
    	width: 225px; background-color: #000; margin-right: 10px;  
    }
    .box02 {
    	width: 450px; background-color: #000; margin-right:10px; 
    }
    .box03 {
    	width: 225px; background-color: #000; 
    }



/* #footBox=========================================================================*/
#footBox {
	height: auto; background-color: #5af; padding: 35px; padding-bottom: 50px; box-sizing: border-box;
}

#footBox > h2 {
	width: 150px; height: 150px; background-color: #fff;  margin-right: 50px; float: left;
}
  .info {
  	width: 500px; height: auto; background-color: #fff; float: left;
  }
  
    .info_navi {
    	width: 500px; height: 40px; background-color: #000; margin-bottom: 5px;
    }
    .address_con {
    	width: 500px; height: 90px; background-color: #000; margin-bottom: 5px;
    }
    .copyright {
    	width: 500px; height: 40px; background-color: #000;
    }
  .family_menu {
  	width: 150px; height: 50px; background-color: #fff; float: right;
  }
