/* semantic_03.css */

#wrap {width: 960px; height: auto; margin: auto;}
  .hide {width: 0; height: 0; position: relative; z-index: -100;}
  #headBox {width: 100%; height: 80px; background-color: #fff; padding: 10px 10px; 
    box-sizing: border-box;}
  #headBox > div {width: 780px; height: 54px; float: right;}
    h1 {width: 140px; height: 36px; background-color: #ff0; text-align: center; 
      line-height: 36px; margin-right: 20px; margin-top: 20px; float: left;}

    #unb {width: 300px; height: 14px; background-color: #eee;
      margin-left: 480px; border: 0.1rem solid #cca;}
    #gnb {width: 780px; height: 16px; background-color: #eee; margin-top: 14px;
    border: 0.1rem solid #cca;}

/*--------------------//#headBox --------------------*/
  #connectBox {width: 100%; height: 639.664px; background-color: #888;}
    .connect_banner {width: 300px; height: 350px; background-color: #ccc; 
      margin: auto; margin-top: 177.34px;}
/*--------------------------//#connectBox------------*/

  #updateBox {width: 100%; height: 690.335px; background-color: #fff; 
    padding: 27px 11px; box-sizing: border-box;}
    .upd_title {width: 460px; height: 50px; margin: auto; margin-top: 89px; 
      background-color: #555;}
    .upd_title > dt {width: 303px; height: 30px; background-color: #fe0; 
      margin-left: 76.53px; margin-bottom: 4px;}
    .upd_title > dd {width: 456px; height: 16px; background-color: #fe0; 
      margin: auto; margin-bottom: 0;}
    .upd {width: 939px; height: 437px; margin: auto; margin-top: 20px; 
      padding: 17.4px 24.459px; box-sizing: border-box; background-color: #ccc; }
    .upd > ul {border: 0.1rem solid #777; box-sizing: border-box;}
      .upd1 {width: 240px; height: 335px; float: left; background-color: #fff; 
        margin-right: 55px; margin-top: 35px; }
      .upd2 {width: 300px; height: 400px; float: left; background-color: #fff; 
        margin-right: 55px; }
      .upd3 {width: 240px; height: 335px; float: right; background-color: #fff; 
        margin-top: 35px;}
  .indicator {width: 140px; height: 27px; margin: auto; margin-top: 10px; 
    background-color: #555;}
 /*-------------------//#updateBox--------------------*/


  #serviceBox {width: 100%; height: 710px; background-color: #eee; 
    padding:156px 11px 80px 11px; box-sizing: border-box;}
    .serv_title {width: 620px; height: 60px; background-color: #555; 
      margin :auto; margin-bottom: 42px;}
    .serv_title > dt {width: 303px; height: 30px; background-color: #fe0; 
      margin: auto; margin-bottom: 14px;}
    .serv_title > dd {width: 100%; height: 16px; background-color: #fe0;}
    .serv_banner {width: 940px; height: 370px;}
    .serv_banner li {width: 270px; height: 100%; background-color: #999; float: left;}
    .serv_banner li:nth-child(2) {background-color: #bb9;}
    .serv_banner li:last-child {width: 130px; height: 100%; background-color: #aa6;}
    /*------------------//#serviseBox-------------------*/


  #newsBox {width: 100%; height: 722px; background-color: #fff; padding: 78px 11px; 
    box-sizing: border-box;}
    .news_title {width: 462px; height: 60px; background-color: #555; margin: auto; 
      margin-top: 36px; margin-bottom: 42px;}
    .news_title > dt {width: 303px; height: 30px; background-color: #fe0; margin: auto; 
      margin-bottom: 14px;}
    .news_title > dd {width: 100%; height: 16px; background-color: #fe0;}
    .news_banner {width: 940px; height: 422.7px; background: #ccc; padding: 10px 20px; 
      box-sizing: border-box;}
    .news_banner > li {width: 272px; height: 400px; background: #fff; float: left; 
      margin-right: 40px; border: 0.1rem solid #777; box-sizing: border-box;}
    .news_banner > li:last-child {margin-right: 0;}
    /*----------------//#newsBox---------------------------*/


  #privacyBox {width: 100%; height: 663px; background-color: #eee; 
    padding: 118px 64px 48px 64px; box-sizing: border-box;}
    .kakao_logo {width: 140px; height: 47.7px; background-color: #fe0; margin: auto; 
      margin-bottom: 34px; text-align: center; line-height: 47.7px; font-size: 1rem;
      font-weight: bold;}
    .policy_title {width: 395px; height: 189px; background-color: #fff; margin: auto; 
      margin-bottom: 33.4px;}
    .policy_title dt {width: 300px; height: 95px; background-color: #aaa; 
      margin: auto; margin-bottom: 20px;}
    .policy_title dd {width: 300px; height: 30px; background-color: #aaa; 
      margin: auto; margin-bottom: 10px;}
    .policy_title > button {width: 90px; height: 25px; background-color: #555; 
      margin-left: 152px; margin-bottom: 6px;}

    .policy_btn {width: 780px; height: 183px; background-color: #fff; 
      padding-top: 16px; box-sizing: border-box;}
    .policy_btn > dl {width: 120px; height: 167px; background-color: #fff; margin-left: 60px;
     float: left;}
    .policy_btn dt {width: 100%; height: 120px; background-color: #555; margin-bottom: 7px;}
    .policy_btn dd {width: 100%; height: 40px; background-color: #eee; border: 0.1rem solid #555;
      box-sizing: border-box;}
    .policy_btn > dl:last-child {margin-right: 60px;}

/*---------------------------//#pribacyBox-----------------------------*/

  #fnbBox {width: 100%; height: 95px; background-color: #fff; padding: 0.4px 90px; 
    box-sizing: border-box;}
    .fnb01 {width: 780px; height: 45px; background-color: #bb9; margin: auto; margin-top: 5px; 
      padding: 10px 5px; box-sizing: border-box;}
    .fnb01 > li {height: 80%; background-color: #fe0; float: left;}
    .fnb01 > li:nth-child(1) {width: 60px; margin-left: 20px; margin-right: 19px;}
    .fnb01 > li:nth-child(2) {width: 95px; margin-right: 10px;}
    .fnb01 > li:nth-child(3) {width: 75px; margin-right: 7px;}
    .fnb01 > li:nth-child(4) {width: 50px; margin-right: 40px;}
    .fnb01 > li:nth-child(5) {width: 60px; margin-right: 20px;}
    .fnb01 > li:nth-child(6) {width: 80px; margin-right: 20px;}
    .fnb01 > li:nth-child(7) {width: 60px; margin-right: 50px;}
    .fnb01 > li:nth-child(8) {width: 30px; margin-right: 20px;}

    .fnb02 {width: 619.5px; height: 20px; margin-top: 16px; margin-left: 80px; 
    background-color: #bb9; }
    .fnb02 > li {width: 81px; height: 80%; margin-right: 69px; background-color: #fe0;
      float: left; } 
    .fnb02 > li:first-child {width: 62px; margin-left: 50px;} 
    .fnb02 > li:last-child {width: 62px; margin-right: 50px;} 

  #footBox {width: 100%; height: 45px; background-color: #999; padding-top: 10px; 
    box-sizing: border-box;}
  #footBox > div {width: 300px; height: 13px; margin: auto; background-color: #555}