/*semantic_01.css*/

#wrap {margin: auto;
  width: 60rem; height: auto; background-color: #fbd; padding: 0.5rem; box-sizing: border-box;}



  #headBox {width: 100%; height: 9.375rem; background-color: #bcf;}
    h1 {width: 40%; height: 100px; height: 6.25rem; background-color: #9a5; text-align: center; line-height: 6.25rem;}


  #gnb {width: 100%; height: 3.125rem; height: 50px; background-color: #32b; padding: 0.3rem; padding-left: 0.8rem; box-sizing: border-box;}
  #gnb > h2 {width:0; height:0; position:relative; z-index:-100;}
    .nana {width: 23%; height: 40px; height: 2.5rem; background-color: #fff; float: left;}
    .nav1 {margin-right: 1rem;}
    .nav2 {margin-right: 1rem;}
    .nav3 {margin-right: 1rem;}

  #contentBox {margin: 0.5rem 0; width: 100%; height: auto; background-color: #fff;
    padding: 0.5rem; box-sizing: border-box;}
    #contentBox > h2 {width:0; height:0; position:relative; z-index:-100;}


   .side_view {width: 40%; height: auto; background-color: #ff0; float: left; padding: 0.5rem; box-sizing: border-box;}
    .side_view > h3 {width: 99%; height: 100px; height: 6.25rem; background-color: #9a5; text-align: center; line-height: 6.25rem;}
    .side_view > ul {width: 99%; height: auto; margin-top: 0.5rem;}
    .side_view > ul > li{margin-bottom: 10px; width: 100%; height: 5.2rem;  background-color: #fff; border-bottom: 0.2rem solid #fa0}
    .side_view > ul > li:last-child {margin-bottom: 0;}
    .side_view dt {font-size: 0.8rem; background-color: #ccc;}
    .side_view dd {font-size: 0.6rem; border-bottom: 0.1rem solid #000;}
 

   .content_view {width: 59%; height: auto; background-color: #8f8; float: right;}
   /*.content_view > h3 {padding: 0.4rem;}*/
   /* .content_view > h3 {width:0; height:0; overflow:hidden;} */
   /* .content_view > h3 {width:0; height:0; text-indent:-99999rem; color:#344;} 
    화면 밖으로 밀어서 없애버림. indent-> 들여쓰기 */
    .content_view > h3 {width:0; height:0; position:relative; z-index:-100;} 
   /*화면 뒤로 넘겨버림. */
   /* .content_view > h3 {width:0; height: 0; font-size: 0; */

   .content_view > .con {width: 100%;  background-color: #faa;}


   .con_1 {height: 200px; height: 12.5rem;  padding: 0.5rem; box-sizing: border-box;}
   .btn { width: 8%; height: 182px; height: 11.375rem; background-color: #000;}
   .btn:first-of-type {float: left;}
   .btn:last-of-type {float: right;}
   .con_1 > h4 {width:0; height:0; position:relative; z-index:-100;}
    
   .content_view > h4 {width: 97%; height: 3.125rem; height: 50px; background-color: #fa0; margin: 1rem 0.5rem; text-align: center; line-height: 3.125rem;}

   .con_2 {width: 100%; margin-bottom: 0.5rem; height: 100px; height: 6.25rem;  padding: 0.5rem; box-sizing: border-box;}
   .con_2 > ul {width: 100%; }
   .con_2 li {width: 23.9%; height: 84px; height: 5.25rem; background-color: #000; float: left; margin-right: 0.36rem}
   .con_2 > h5 {width:0; height:0; position:relative; z-index:-100;}
  
   .con_3 {width: 100%; margin-bottom: 0.5rem; height: 100px; height: 6.25rem;  padding: 0.5rem; box-sizing: border-box;}
   .con_3 > ul {width: 100%; }
   .con_3 li {width: 23.9%; height: 84px; height: 5.25rem; background-color: #000; float: left; margin-right: 0.36rem}
   .con_3 > h5 {width:0; height:0; position:relative; z-index:-100;}

   .con_4 {width: 100%; height: 100px; height: 6.25rem;  padding: 0.5rem; box-sizing: border-box; }
   .con_4 > ul {width: 100%; }
   .con_4 li {width: 23.9%; height: 84px; height: 5.25rem; background-color: #000; float: left; margin-right: 0.36rem}
   .con_4 > h5 {width:0; height:0; position:relative; z-index:-100;}

  #footBox {width: 100%; height: 7.5rem; background-color: #fc0; padding: 0.5rem; box-sizing: border-box;}
  #footBox > h2{width: 40%; height: 100px; height: 6.25rem; background-color: #9a5; float: left; margin-top: 0.1rem; text-align: center; line-height: 6.25rem;}
    .add {width:59%; height: 46px; height: 2.875rem; background-color: #fff; float: right; margin-top: 3.4rem;}
