/* semantic_02.css */

#wrap {width: 60rem; width: 960px; height: auto; margin: auto;}
h1, h2, h3, h4 {text-align: center; color: #303}
  .h2_hide {width: 0; height: 0; position: relative; z-index: -100;}
  .h2_01 {width:300px; width:18.75rem; height: 64.118px; height: 4.00737rem; background-color: #fff; margin: auto; line-height: 64.118px; line-height: 4.00737rem;}
  .h2_02 {width: 300px; width: 18.75rem; height: 48.036px; height: 3.00225rem; background-color: #999; margin: auto; line-height: 48.036px; line-height: 3.00225rem;}
  .h3_01 {width:220px; width:13.75rem; height: 48.086px; height: 3.00537rem; background-color: #555; line-height: 48.086px; line-height: 3.00537rem;}
  
  #headBox {width: 100%; height: 112px; height: 7rem; background-color: #fbb; 
    padding: 10px; padding: 0.625rem; padding-top:20px; padding-top:1.25rem;  box-sizing: border-box;}
    h1 {width: auto; height: 57.707px; height: 3.60669rem ;background-color: #fff; float: left;}
    .gnb {width: 220px; width: 13.75rem; height: 32.06px; height: 2.00375rem; background-color: #fff; float: right;}
  
  #adBox {width: 100%; height: 625px; height: 39.0625rem; background-color: #ddd;}
    
  #goodBox {width: 100%; height: 275px; height: 17.1875rem; background-color: #ccc;}
  #goodBox > ul {width: 100%; height: 100%;}
  #goodBox > ul > li {width: 25%; height: 100%; background-color: #f99; float: left; border: 0.2rem solid #fff; box-sizing: border-box;}
   /* -----//#goodBox-----------------*/

  #snbBox {width: 100%; height: 400px; height: 25rem; background-color: #ddd; padding : 48.0894px 90px 41.678px 90px; padding: 3.00559rem 5.625rem 2.60487rem 5.625rem;   box-sizing: border-box;}
  #snbBox > h2 {margin-bottom: 38.472px; margin-bottom: 2.4045rem;}
    .snb_box {width: 780px; width: 48.75rem; height: 176.33px; height: 11.0206rem;}
      .sub_script {width: 220px; width: 13.75rem; height: 176.327px; height: 11.0204rem; float: left;}    
      .sub_script > dt {width: 100%; height: 33.3334%; background-color: #fbb;}
      .sub_script > dd {width: 100%; height: 33.3333%; background-color: #fff;}

      
        .sub_con {width: 460px; width: 28.75rem; height: 176.327px; height: 11.0204rem; float: right;}
        .sub_con > dl {width: 110px; width: 6.875rem; height: 176.327px; height: 11.0204rem; margin-right: 65px; margin-right: 4.0625rem; float: left;}
        .sub_con > dl:last-child {margin-right: 0;}
        .sub_con  dt {width: 100%; height: 50%; background-color: #fbb;}
        .sub_con  dd {width: 100%; height: 50%; background-color: #fff;}
/*---------------------------//#snbBox------------------------------------*/
 
  #testBox {width: 100%; height: 365px; height: 22.8125rem; background-color: #ccc;}
  #testBox > img {width:50%; height: 100%; background-color: #f99; float: left;}
   

    .img01_script_box  {width:220px; width:13.75rem; height: 230.82px; height: 14.4262rem; float: right; margin-top: 71.7px; margin-top: 4.48125rem; margin-right: 170px; margin-right: 10.625rem;}
    .img01_script_box > div {width:220px; width:13.75rem; height: 161.906px; height: 10.1191rem; background-color: #fff;}
    .img01_script_box > h3 {margin-bottom: 20.822px; margin-bottom: 1.30137rem;}
    
/*----------------//testBox-----------------------------------------------*/

  #eduBox {width: 100%; height: 550px; height: 34.375rem; background-color: #ddd;
    padding-top: 88.163px; padding-top: 5.51019rem; padding-bottom: 78.724px; padding-bottom: 4.92025rem; box-sizing: border-box; }
  #eduBox > h2 {margin: auto;}
  #eduBox > div {width: 950px; width: 59.375rem; height: 286.646px; height: 17.9154rem; margin-right: 10px; margin-right: 0.625rem; margin-top: 33.662px; margin-top: 2.10387rem;}
  #eduBox img {width: 50%; height: 100%; float: left;}
    .img02_script_box {width: 460px; width: 28.75rem; height: 100%; float: right; background-color: #faa; padding: 30px; padding: 1.875rem; box-sizing: border-box;}
      .img02_script_box > h4 {width: 266.316px; width: 16.6447rem; height: 48.086px; height: 3.00537rem; background-color: #f77; line-height: 48.086px; line-height: 3.00537rem; box-sizing: border-box; font-weight: bold; font-size: 1rem;}
      .img02_script_box > div {width: 400px; width: 25rem; height: 160.3px; height: 10.0188rem; margin-top: 20.823px; margin-top: 1.30144rem;}
      .img02_script_box  dl {width: 190px; width: 11.875rem; height: 100%; margin-right: 20px; margin-right: 1.25rem; float: left;}
      .img02_script_box  dl:last-of-type {margin-right: 0;}
      .img02_script_box  dt {width: 100%; height: 50%; background-color: #bbb;}
      .img02_script_box  dd {width: 100%; height: 50%; background-color: #fff;}

/*---------------//#eduBox-------------------------------------------------*/

  #originBox {width: 100%; height: 560px; height: 35rem; background-color: #ccc; padding: 93.348px 90px 92.938px 90px; padding: 5.83425rem 5.625rem 5.80863rem 5.625rem; box-sizing: border-box;}
  #originBox > div {width: 780px; width: 48.75rem; height: 307.499px; height: 19.2187rem; margin-top: 20.823px; margin-top: 1.30144rem;}
  #originBox img {width: 380px; width: 23.75rem; height: 100%; float: right;}
    .script {width: 300px; width: 18.75rem; height: 100%; background-color: #fff;  margin-right: 100px; margin-right: 6.25rem; float: left;}
  

/*-----------//#originBox------------------------------------------*/



  #partsBox {width: 100%; height: 590px; height: 36.875rem; background-color: #ddd; padding: 64.418px 10px 36.952px 10px; padding: 4.02613rem 0.625rem 2.3095rem 0.625rem; box-sizing: border-box;}
  #partsBox > h2 {margin-bottom: 39.801px; margin-bottom: 2.48756rem;}
    .content {width: 940px; height: 200.372px;}
    .content > div {width: 100%; height: 100%;}
    .content dl {width: 50%; height: 100%; background-color: #1ff; float: left;}
    .content dt {width: 50%; height: 100%; float: left;}
    .content dd {width: 50%; height: 100%; float: left;}
    .pink{background-color: #f88;}
    .white {background-color: #fff;}  
/*-----------// partBox------------------------------------*/
  #mapBox {width: 100%; height: 560px; height: 35rem; background-color: #ccc; padding :91.26px 90px 84.047px 90px; padding :5.70375rem 5.625rem 5.25294rem 5.625rem; box-sizing: border-box;}
  
  #mapBox > div {width: 780px; width: 48.75rem; height: 278.903px; height: 17.4314rem; margin-top: 57.704px; margin-top: 3.6065rem;}

  #mapBox dl {width: 380px; height: 100%; background-color: #faa; margin-right: 20px; float: left;}
  #mapBox dt {width: 100%; height: 20%; background-color: #faa; margin-right: 20px;}
  #mapBox dd {width: 100%; height: 20%; background-color: #fff; margin-right: 20px; border: 0.1rem solid #faa; box-sizing: border-box;}
  #mapBox img {width: 380px; height: 100%; float: right;}
    
 /*---------//#mapBox-----------------------------------------------------------------*/


  #footBox {width: 100%; height: 270px; height: 16.875rem; background-color: #633; padding: 36.17px 90px 111.395px 90px;  padding: 2.26063rem 5.625rem 6.96219rem 5.625rem; box-sizing: border-box;}
  
  #footBox > h2 {width: 140px; width: 8.75rem; height: 127.43px; height: 127.43px; background-color: #fff; float: left; line-height: 127.43px; line-height: 7.96438rem; }
  .dldl01 { width: 220px; width: 13.75rem; height: 127.43px; height: 7.96438rem; float: left; margin-left:100px;}
  .dldl01 > dt {width: 100%; height: 30%; background-color: #faa;}
  .dldl01 > dd {width: 100%; height: 70%; background-color: #fff;}

  .dldl02 {width: 300px; width: 18.75rem; height: 127.43px; height: 7.96438rem; float: right; margin-left: 18.913px; }
  .dldl02 > dt {width: 100%; height: 30%; background-color: #faa;}
  .dldl02 > dd {width: 100%; height: 70%; background-color: #fff;}


    