.wrap {width: 800px; height: 600px; background-color: #f0a; 
  position: relative;}

  .side_indicator {width: 50px; height: 350px; background-color: #0af;
   position: absolute; top: 50%; right: 30px; margin-top:-175px;}

  .side_indicator > ul {width: 100%; height: 100%; 
    padding: 20px 10px; box-sizing: border-box;}
  .indicator {width: 30px; height: 30px; background-color: #fff;
    margin-bottom: 40px; border-radius: 100%; position: relative;}
  .side_indicator >ul>li:last-child {margin-bottom: 0; }

 span {display: none; top:-5px; right: 50px;
  position: absolute;
   width:200px; height:40px;background-color:#06c;}
 li:hover span{display: block; }
